<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= title %></title>
    <%= read_tmpl("analytics_#{country}#{lang}") %>
  </head>
  
  <body>
    <ul>
      <% files.each do |file| %>
      <% year  = file[0,4]
	 month = file[4,2]
	 day   = file[6,2] %>
      <li><a href="<%= file %>"><%= year %>年<%= month %>月<%= day %>日</a></li>
      <% end %>
    </ul>
  </body>
</html>
