<% def date_to_s(date) y,m,d = parse_date(date); html = "#{date}.html"; "<a href=\"#{File.join($url, html)}\">#{y}/#{m}/#{d}</a>" end %>
<%
   wrapper_width = 720
   navi_width = 140
   navi_padding = 4
   navi_exterior_width = navi_width + navi_padding * 2
   main_exterior_width = wrapper_width - navi_exterior_width
   main_border = 1
   main_padding = 4
   main_width = main_exterior_width - main_border * 2 - main_padding * 2
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= basics[:name] %> - 株色新聞</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <style>
    * {margin:0; padding:0}
    body {font-size:12px;/* background:#EEE;*/}
    ul {list-style-type:none;}
    .maincolumn {height:600px;}
    #wrapper {width:<%= wrapper_width %>px; margin:0 auto;/* background:#FFF;*/}
    #navi {float:left; background:#EEF2FA; font-size:11px; width:<%= navi_width %>px; padding:2px <%= navi_padding %>px;}
    #main {float:left; margin:0 auto;/* background:#FCF;*/ width:<%= main_width %>px; border-left:<%= main_border %>px solid #CCC; border-bottom:1px solid #CCC; border-right:<%= main_border %>px solid #CCC; padding:2px <%= main_padding %>px;}
    #logo a {font-size:1.5em; text-decoration:none; font-weight:bold; color:#0080FF;}
    #stockchart {width:512px; margin:0 auto;}
    #footer {clear:both;/* background:#CFF;*/ text-align:center;}
    h1 {font-size:1.2em; padding:6px 0; border:1px solid #CCC; text-align:center; background:#1D4088; color:#FFF;}
    h2 {font-size:1.0em;}
    .range {font-size:10px;}
    .label {margin-top:2px;}
    .range .label {color:#222; font-weight:bold;}
    .chart {background-color:blue; float:left; box-shadow:1px 2px 4px 1px #333;}
    .chart span {visibility:hidden;}
    .tag {float:left; margin-left:8px; color:#888; font-weight:bold;}
    .span a {text-decoration:undefline;}
    .separator {color:#888;}
    .spanlist {text-align:center;}
    .graph-label {text-align:center; font-weight:bold;}
    .graph {height: 301px;}
    .graph .loading {background: url(./ajax-loader.gif) no-repeat center center;}
    .ord {text-align:right; font:93%/93% arial;}
    .cor {font:bold 93%/93% arial;}
    .block {margin:0 auto;}
  </style>
<!--   <script src="http://code.jquery.com/jquery-latest.js"></script> -->
  <script src="./jquery.min.js"></script>
  <script type="text/javascript">
    var spans = [
	{"span":"1日", "iurl":"http://gchart.yahoo.co.jp/b?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=1y&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"1週", "iurl":"http://gchart.yahoo.co.jp/w?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=1y&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"1ヶ月", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=1m&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"3ヶ月", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=3m&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"6ヶ月", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=6m&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"1年", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=1y&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"2年", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=2y&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"5年", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=5y&q=c&l=off&z=m&p=m65,m130,s&a=v&c="},
	{"span":"10年", "iurl":"http://gchart.yahoo.co.jp/z?s=<%= basics[:symbol] %>.<%= basics[:exchange] %>&t=ay&q=c&l=off&z=m&p=m65,m130,s&a=v&c="}
    ];
    function set_chart(idx) {
	$("#stockchart .graph-label").text(spans[idx]["span"] + "チャート");
        $("#stockchart .graph").html('<a href="http://stocks.finance.yahoo.co.jp/stocks/detail/?code=<%= basics[:symbol] %>.<%= basics[:exchange] %>"><img src="' + spans[idx]["iurl"] + '" />');
    }
    function load_page(symbol) {
	window.location = symbol + ".html";
    }
    window.onload = function() {
	set_chart(5);
	for (var i = 0; i < spans.length; i++) {
	    if (i > 0) $("#stockchart .spanlist").append('<span class="separator">|</span>');
	    $("#stockchart .spanlist").append('<span class="span"><a onclick="set_chart(' + i + ')">' + spans[i]["span"] + '</a></span>');
	}
    }

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28037627-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();	

</script>
      
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="logo"><a href="http://jp.sugyoku.com/">株色新聞</a></div>
      <!--     <a href="https://twitter.com/share" class="twitter-share-button" data-url="ZZZZZZ" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> -->
      <!--     <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=189373767787690" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe> -->
    </div>
    
    <h1><%= basics[:name] %>(<%= basics[:symbol] %>)</h1>
    
    <div class="maincolumn" id="navi">
      <div class="block">
	<h2>値動きの似ている銘柄</h2>
	<table>
	  <% correlated.each do |t| %>
	  <tr>
	    <td class="ord"><%= t[:ord] %>.</td>
	    <td class="name"><a href="<%= t[:symbol] %>.html"><%= t[:name] %></a></td>
	    <td class="cor"><%= "%.3f" % t[:cor] %></td>
	  </tr>
	  <% end %>
	</table>
      </div>
    </div>
    <div class="maincolumn" id="main">
      <!--     <a onclick="load_page('4501')">2432</a> -->
      <div id="stockchart">
	<div class="graph-label"></div>
	<div class="graph">
	</div>
	<div class="spanlist">
	</div>
      </div>

      <% if estimated_ave %>
      <h2><%= basics[:name] %>株保有者の予想損益率</h2>
      <div>予想平均購入価格：<%= "%.1f" % estimated_ave %>円(-12.34%)</div>
      <table>
	<% estimated_histogram.each do |range, value| %>
	<tr>
	<tr class="range">
	  <td class="label"><%= range %></td>
	  <td>
	    <% width = (280 * value).to_i %>
	    <% if width > 0 %>
	    <div class="chart" style="width:<%= width %>px;"><span>.</span></div>
	    <% end %>
	    <div class="label tag"><%= "%.1f%%" % (100 * value) %></div>
	  </td>
	</tr>
	</tr>
	<% end %>
      </table>
      <% end %>
      
      <h2>株色新聞ニュース</h2>
      <ul class="articles">
	<% articles.each do |article| %>
	<li>
	  <span class="date">
	    <%= date_to_s(article['date']) %>
	  </span>
	  <span class="content">
	    <%= article['content'] %>
	  </span>
	</li>
	<% end %>
      </ul>
    </div>

    <div id="footer">
      <a href="http://jp.sugyoku.com">Home</a> ©株色新聞 ご意見・ご要望は<a href="http://twitter.com/kabushinbun">@kabushinbun</a>へ
    </div>
  </div>
</body>

</html>
